.container{
  height: 100vh;
  max-width: 360px;
  background-color: rgb(41, 41, 41);
  margin: 0px auto;
  color: white;
  padding: 20px 0px;
}
.container .navbar{
  display: flex;
  gap: 10px;
  background-color: white;
  color: black;
  margin: 0px 20px;
  border-radius: 10px;
  height: 50px;
  align-items: center;

}

.container .navbar .logo img{
  border-top-left-radius: 10px;
}

.navbar h1{
  font-size: 28px;
}

.container .input {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 20px 5px;
  border: 1px solid white;
  height: 40px;
  /* margin: 20px; */
  padding: 0px 5px;
  border-radius: 10px;
  font-size: 30px;
  background-color: transparent;

}

.container .input input{
  height: 100%;
  width:100%;
  outline: none;
  background-color: transparent;
  padding: 0px 10px;
  border: 1px solid transparent;
  font-size: large;
  color: white;
}

.input-container{
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
  /* gap: 5px; */
}
.input-container .add{
  display: flex;
  font-size: 36px;
}